.contcuadro{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    position: absolute;
    row-gap: 26px;
    top: 80vh;
    width: 100%;
    .cuadrito{
        height: 5px;
        width: 31.5px;
        background-color: gray;
    }
}

@media (max-width: 600px) {
    .contcuadro{
        grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
        margin-block:   60px;
    }
}