nav {
    width: 100%;
    height: 100px;
    background-color: #0008;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
  
    #logo {
      margin-left: 50px;
    }
  
    #logo-mobile {
      display: none;
      border: solid 1px white;
      border-radius: 50%;
      padding: 20px;
    }
  
    .links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 40px;
  
      .idiomas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
  
        .imgnavbar {
          margin-right: 40px;
        }
      }
  
      .anchor {
        text-decoration: none;
        color: white;
      }
  
      .grey {
        color: grey;
      }
  
      .registro {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
  
        .anchorcentro {
          justify-self: center;
          text-decoration: none;
          color: white;
        }
  
        #bar {
          height: 100%;
          width: 1px;
          background-color: white;
        }
      }
    }
  }
  
  @media (max-width: 720px) {
    nav {
      height: 60px;
      #logo {
        display: none;
      }
  
      #logo-mobile {
        display: inline;
        margin-left: 30px;
        height: 40px;
      }
     
      .links {
        grid-template-columns: 1fr;
        .idiomas {
          grid-template-columns: 1fr;
          justify-items: end;
          .anchor {
            display: none;
          }
        }
        .registro {
          display: none;
        }
      }
    }
    .imgnavbar{
      height: 30px;
    }
  }