#redes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 41px 25px 25px 25px 25px;
    width: 45px;
    justify-items: center;
    position: fixed;
    top: 150px;
    color: gray;
}

    .imgredes{
        display: block;
        margin-top: 2px;
        width: auto;
        height: auto;
    }

    .predes{
        transform: rotate(90deg);
        display: inline-block;
        font-size: xx-small;
    }

    #rayita{
        height: 20px;
        width: 1px;
        border-left: 1px solid;
        margin-top: 15px;
    }

    @media (max-width: 600px) {      
        #redes {
          display: none; 
        }
    }
